{% extends 'layout.html' %}

{% block title%}
    Informacion
{% endblock %}

{% block body %}
<div class ="row">
    <div class="col-md-4 offset-md-4">
        <h2>Informacion personal</h2> 
        <p>Mi informacion personal. Soy ingeniero de sistemas, en la practica de mejorar mi estudio en cuanto a la programacion.</p>
        <p>Me considero una persona activa, dedicada e responsable, con muchas ganas de aprender y seguir adelante. Me gusta aprender distintas cosas de no solo de area, sino de demas cosas. Para estar al dia en cuanto a los temas del mundo.</p>
        <h2>Hobbies</h2> 
        <p>Me gusta hacer distintas cosas en mi dia dia, como aprender mas temas de mi carrera, en temas de la teoria y practica. Me gustar hacer ejercicios, combinandolos con algun deporte, leer, video juegos y pasarla con mi familia y amigos.
        </p>
        <h2>Skills</h2> 
        <p>Ahora me estoy dedicando de manera autodidactica en la programacion. Tengo conocimientos sobre el frontend como el uso de HTML, CSS y Javscript(algunos frameworks). En cuanto al backend aprendiendo el tema de Pyhton con su distintos frameworks, el uso de php y el manejo de base de datos(mysql, postgrelp y base de datos no relacionales como mongodbd). Mi idea mas adelante es reforzar mas estas tecnologias, aprender mas frameworks, como Reactjs, angular y el manejo de apis. Creando proyectos personales que sirvan de aprendizaje y den distintos valor a demas personas.
        </p>
        

    </div>
</div>

{% endblock %}